/* 
### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

font-family: 'Space Mono', monospace;
- Font size (form inputs): 24px

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    margin-top: 3rem;
}
h1{
    text-align: center;
    color: hsl(183, 100%, 15%);
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
}

#container{
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    position: absolute;
    top: 12em;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}
#bill{
    margin-bottom: 2rem;
}

#container label{
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}
#container input{
    border: none;
    background-color: hsl(189, 41%, 97%);
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    color: hsl(183, 100%, 15%);;
}
.input{

    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: end;
    padding: 0.5rem;
    margin-top: 0.5rem;
    
}
#select-tip{
    margin-bottom: 2rem;
}
#buttons_settings{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 0.5rem;
    margin-left: -.5rem;
}

#container #custonNumber{
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    width: auto;
}
button{
    border: none;
    border-radius: 6px;
    margin: 0.5rem;
    height: 2.5rem;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;

}
.porcent{
    background: hsl(183, 100%, 15%);
    color: white;
    transition: 0.3s;
}
.porcent-active{
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#result{
    background: hsl(183, 100%, 15%);
    border-radius: 8px;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    margin-top: 2rem;
}
#result p{
    color: white;
}
#result span{
    color: rgba(255, 255, 255, 0.582);
}
#amount{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
#total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
#result .valuer{
    font-size: 2rem;
    color: hsl(172, 67%, 45%);
}
#result #reset{
    background: hsl(172, 67%, 45%);
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
}

@media (min-width: 1200px){
    #container{
        margin: auto;
        height: 30rem;
        width: 70rem;
        display: grid;
        grid-template-columns: auto auto;
        border-radius: 2rem;
    }
    #calculator{
        width: 33rem;
    }
    #result{
        width: 33rem;
    }
    #result p{
        font-size: 1.5rem;
    }
    #result .valuer{
        font-size: 3rem;   
    }
    #result #reset{
        position: relative;
        top: 4rem;
        height: 4rem;
    }
    
    button{
        height: 3rem;
    }
}