/* 
### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

font-family: 'Space Mono', monospace;
- Font size (form inputs): 24px

*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    margin-top: 3rem;
}
h1{
    text-align: center;
    color: hsl(183, 100%, 15%);
    letter-spacing: 0.5rem;
    margin-bottom: 3rem;
}

#container{
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    height: 100vh;
}
#bill{
    margin-bottom: 2rem;
}

#container label{
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}
#container input{
    border: none;
    background-color: hsl(189, 41%, 97%);
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 5% 50%;
    color: hsl(186, 14%, 43%);
}
.input{

    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: end;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
#select-tip{
    margin-bottom: 2rem;
}
#buttons_settings{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 0.5rem;
}

button{
    background: hsl(189, 41%, 97%);
    border: none;
    border-radius: 10px;
    margin: .5rem;
    height: 2.5rem;
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;

}
